__pycache__
VOCdevkit
checkpoints
.vscode
*.pyc
.idea/
__pycache__
results
checkpoints_bak
cityscapes
test_results
data_2d_semantics/
data_2d_semantics
mytest
dataset_remains
KITTI_data_2d_semantics.zip
DLL_Project_Workspace.code-workspace
KITTI-360
wandb
datasets/data/


