__pycache__
VOCdevkit
checkpoints
.vscode
*.pyc
.idea/
__pycache__
results
checkpoints_bak
cityscapes
test_results
data_2d_semantics/
data_2d_semantics
mytest
dataset_remains
KITTI_data_2d_semantics.zip
DLL_Project_Workspace.code-workspace
KITTI-360/
wandb
datasets/data/
datasets\data\KITTI-360\2013_05_28_drive_0008_sync\image_00\data_rect\0000004987.png
dataset/data/
weak_labels
*.pth
logs/
history.parquet.gzip
